
		<!-- shared page bottom HTML -->
		<p>
			This page is for every member in a group to share the information about the task to each other!
			Update your status about the task very easily and put comments on it!
			Thank you for using our site.
		</p>
		<footer>
			<hr />
			<p>
				Results and page (C) Copyright to Shyamu, Samir & Pradip.
			</p>

			<ul>
				<li>
					<a href="../index.php">
						<img src="images/back.gif" alt="icon" />
						Back to front page
					</a>
				</li>
			</ul>

			<a href="https://webster.cs.washington.edu/validate-html.php">
				<img src="images/w3c-html5.png" alt="Valid HTML" />
			</a>
			<a href="https://webster.cs.washington.edu/validate-css.php">
				<img src="images/w3c-css.png" alt="Valid CSS" />
			</a>
		</footer>
</div>
	</body>
</html>
